<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (topic(); as topicRef) {
    <div>
      <h2 data-cy="topicDetailsHeading"><span>Topic</span></h2>

      <hr />

      <jhi-alert-error />

      <jhi-alert />

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ topicRef.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ topicRef.name }}</span>
        </dd>
        <dt><span>Explanation</span></dt>
        <dd>
          <span>{{ topicRef.explanation }}</span>
        </dd>
        <dt><span>Legal Content</span></dt>
        <dd>
          @if (topic()!.legalContent) {
          <div>
            <a [routerLink]="['/legal-content', topic()!.legalContent?.id, 'view']">{{ topicRef.legalContent?.id }}</a>
          </div>
          }
        </dd>
        <dt><span>Module</span></dt>
        <dd>
          @if (topic()!.module) {
          <div>
            <a [routerLink]="['/module', topic()!.module?.id, 'view']">{{ topicRef.module?.id }}</a>
          </div>
          }
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left" />&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/topic', topicRef.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt" />&nbsp;<span>Edit</span>
      </button>
    </div>
    }
  </div>
</div>
