<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (question(); as questionRef) {
    <div>
      <h2 data-cy="questionDetailsHeading"><span>Question</span></h2>

      <hr />

      <jhi-alert-error />

      <jhi-alert />

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ questionRef.id }}</span>
        </dd>
        <dt><span>Question</span></dt>
        <dd>
          <span>{{ questionRef.question }}</span>
        </dd>
        <dt><span>Concept</span></dt>
        <dd>
          @if (question()!.concept) {
          <div>
            <a [routerLink]="['/concept', question()!.concept?.id, 'view']">{{ questionRef.concept?.id }}</a>
          </div>
          }
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left" />&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/question', questionRef.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt" />&nbsp;<span>Edit</span>
      </button>
    </div>
    }
  </div>
</div>
