<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (conceptProgress(); as conceptProgressRef) {
      <div>
        <h2 data-cy="conceptProgressDetailsHeading"><span>Concept Progress</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ conceptProgressRef.id }}</span>
          </dd>
          <dt><span>Competency</span></dt>
          <dd>
            <span>{{ conceptProgressRef.competency }}</span>
          </dd>
          <dt><span>Improvement</span></dt>
          <dd>
            <span>{{ conceptProgressRef.improvement }}</span>
          </dd>
          <dt><span>Evidence Count</span></dt>
          <dd>
            <span>{{ conceptProgressRef.evidenceCount }}</span>
          </dd>
          <dt><span>Last Practiced At</span></dt>
          <dd>
            <span>{{ conceptProgressRef.lastPracticedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>User Profile</span></dt>
          <dd>
            @if (conceptProgress()!.userProfile) {
              <div>
                <a [routerLink]="['/user-profile', conceptProgress()!.userProfile?.id, 'view']">{{ conceptProgressRef.userProfile?.id }}</a>
              </div>
            }
          </dd>
          <dt><span>Concept</span></dt>
          <dd>
            @if (conceptProgress()!.concept) {
              <div>
                <a [routerLink]="['/concept', conceptProgress()!.concept?.id, 'view']">{{ conceptProgressRef.concept?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/concept-progress', conceptProgressRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
