:root {
    --ui-kip-violet: #4b4b98;
    --ui-kip-purple: #222034;
    --ui-kip-gold: #a3843c;
    
    --ui-window-background: #bac4ca;
    --ui-window-background-dim: #9eacb4;

    --ui-button-center: #B7B7B7;
    --ui-button-highlight: #fff;
    --ui-button-frame: #BAC4CA;
    --ui-button-shadow: #000;

    --ui-legal-paper: #d29f6b;
    --ui-legal-border: #663931;

    --ui-correct: #1e9643;
    --ui-correct: #df7126;
    --ui-incorrect: #ac3232;
}