
// Global variable to both modify and access for site-wide consistent pixel scaling
// Always reference this when constructing any sort of .css component that should respect the pixel scaling
// Example: "calc(var(--scale) * 16)" results in 16x16 pixels relative to the current global pixel scale 
:root {
    --scale: 4;
    --pixel: calc(1px * var(--scale));
}

.pixel-art {
    image-rendering: pixelated;
}